---
import BaseLayout from '@/layouts/BaseLayout.astro';

import Header from '@/blocks/Header.astro';
import Hero from '@/blocks/Hero.astro';
import ServicesBlock from '@/blocks/ServicesBlock.astro';
import PhilosophyBlock from '@/blocks/PhilosophyBlock.astro';
import ReviewsBlock from '@/blocks/ReviewsBlock.astro';
import PricesBlock from '@/blocks/PricesBlock.astro';
import ContactBlock from '@/blocks/ContactBlock.astro';
import Footer from '@/blocks/Footer.astro';
---

<BaseLayout>
	<Header />
	<main>
		<Hero />
		<ServicesBlock />
		<PhilosophyBlock />
		<ReviewsBlock />
		<PricesBlock />
		<ContactBlock />
	</main>
	<Footer />
</BaseLayout>
