---
const { padding = 'var(--space-s-m)', invert = false } = Astro.props;
---

<div class:list={{ invert }} style={`--padding: ${padding};"`}>
	<slot />
</div>

<style>
	div {
		--border-width: 0.125rem;

		/* Padding set to the first point on the modular scale */
		padding: var(--padding);
		border: var(--border-width) solid;
		/* Always apply the transparent outline, for high contrast mode */
		outline: var(--border-width) transparent;
		outline-offset: calc(var(--border-width) * -1);
		color: var(--color-dark);
		background-color: var(--color-light);

		& * {
			/* Force colors to inherit from the parent and honor inversion (below) */
			color: inherit;
		}

		&.invert {
			/* Dark becomes light, and light becomes dark */
			color: var(--color-light);
			background-color: var(--color-dark);
		}
	}
</style>
