---
const { start = true, end = true } = Astro.props;
---

<div class:list={[{ start }, { end }]}>
	<slot />
</div>

<style>
	div {
		--gutter: var(--space-l-xl);

		margin-inline: auto;
		inline-size: 100%; /* Needed in order to be a flexbox child */
		max-inline-size: calc(var(--f-max-width) * 1px);
	}

	.start {
		padding-inline-start: var(--gutter);
	}

	.end {
		padding-inline-end: var(--gutter);
	}
</style>
