---
import Box from '@/components/Box.astro';
import Gutter from '@/components/Gutter.astro';
---

<footer>
	<Gutter>
		<div class="flow">
			<h3>Condiciones</h3>
			<p>
				(Este espacio no est치 dise침ado para reservar cita ni para dar tramiento solo para resolver
				dudas)
			</p>
			<p>
				Las cancelaciones hay que hacerlas con una anterlaci칩n de 24h, avisando la la antelaci칩n
				debida no se duvuelve el dinero, sino que se cambia cita para oto dia. Se pueden hacer bonos
				de acupuntura de 5 y 10 sesiones los bonos pueden se pueden utilizar varias personas.
			</p>
			<div class="flow" style="box-sizing: border-box;">
				<h1>h1</h1>
				<h2>h2</h2>
				<h3>h3</h3>
				<h4>h4</h4>
				<p>p</p>
				<div style="padding: 1rem; background-color: var(--color-dark);"></div>
				<div style="padding: 1rem; background-color: var(--color-light)"></div>
				<div style="padding: 1rem; background-color: var(--color-primary)"></div>
				<div style="padding: 1rem; background-color: var(--color-primary-tint)"></div>
				<div style="padding: 1rem; background-color: var(--color-secondary)"></div>
			</div>
		</div>
	</Gutter>
</footer>

<style>
	footer {
		padding-block-start: var(--block-padding);
		padding-block-end: calc(var(--block-padding) / 2);
		background-color: var(--color-dark);
		color: var(--color-light);

	}
</style>
