---
import Gutter from '@/components/Gutter.astro';
---

<section aria-label="balance point">
	<Gutter>
		<hgroup>
			<h1>Balance Point</h1>
			<p>Donde la salud encuentra su punto de Equilibrio</p>
		</hgroup>
	</Gutter>
</section>

<style>
	section {
		padding-block: var(--block-padding)
	}
</style>
