---
import Gutter from '@/components/Gutter.astro';
---

<section aria-label="balance point">
	<Gutter>
		<div class="flow">
			<hgroup>
				<h1>Donde la salud encuentra su punto de <span class="underline">equilibrio</span></h1>
				<p>Nuestro enfoque holístico y personalizado está diseñado para ayudarte a encontrar tu equilibrio interior y mejorar tu calidad de vida de manera integral.</p>
			</hgroup>
		</div>
	</Gutter>
</section>

<style>
	section {
		padding-block-start: calc(var(--block-padding) * 2);
		padding-block-end: var(--block-padding);
		background-color: var(--color-primary);
	}
	h1 {
		max-inline-size: 25ch;
	}
	p {
		max-inline-size: 50ch;
	}
	.underline {
		text-decoration: underline;
	}
</style>
