---
import Gutter from '@/components/Gutter.astro';
---

<section aria-label="nuestra filosofía" id="filosofia">
	<Gutter>
		<p>Compromiso / Conocenos / Mas sobre nosotros</p>
		<h2>Nuestra Filosofia</h2>

		<p>
			En Balance Point, creemos en el poder curativo inherente del cuerpo y en la importancia de
			abordar la salud de manera integral. Nos esforzamos por proporcionar un ambiente acogedor y de
			apoyo donde puedas sentirte cómodo y seguro mientras trabajamos juntos para alcanzar tus
			objetivos de salud y bienestar. Nuestro Compromiso Nos comprometemos a brindarte una atención
			personalizada y de alta calidad en cada sesión. Nuestro equipo de terapeutas altamente
			capacitados está aquí para escucharte, proporcionarte orientación experta y ayudarte en tu
			viaje hacia una vida más equilibrada y saludable.
		</p>
	</Gutter>
</section>

<style>
	section {
		padding-block: calc(var(--block-padding) / 2);
	}
</style>
