---
import Gutter from '@/components/Gutter.astro';
---

<section aria-label="precios" id="precios">
	<Gutter>
		<h2>Precios</h2>
	</Gutter>
</section>

<style>
	section {
		padding-block: calc(var(--block-padding) / 2);
	}
</style>
