---
import Gutter from '@/components/Gutter.astro';
---

<section aria-label="reseñas" id="resenas">
	<Gutter>
		<h2>Reseñas</h2>
		<article>
			<h3>Reseña 1</h3>
			<p>
				Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur
				cupidatat.
			</p>
		</article>
	</Gutter>
</section>

<style>
	section {
		padding-block: calc(var(--block-padding) / 2);
	}
</style>

