---
import Gutter from '@/components/Gutter.astro';
---

<section aria-label="servicios" id="servicios">
	<Gutter>
		<hgroup>
			<h2>Nuestros Servicios</h2>
			<p>
				Nuestro enfoque holístico y personalizado está diseñado para ayudarte a encontrar tu
				equilibrio interior y mejorar tu calidad de vida de manera integral..
			</p>
			<p>
				Ofrecemos una amplia gama de tratamientos naturales para abordar una variedad de necesidades
				de salud y bienestar:
			</p>
		</hgroup>

		<ul>
			<li>
				<h3>Acupunctura</h3>
				<p>
					Una antigua práctica medicinal china que utiliza agujas delgadas para estimular puntos
					específicos en el cuerpo, promoviendo el flujo de energía y aliviando una variedad de
					dolencias físicas y emocionales.
				</p>
			</li>
			<li>
				<h3>Flores Bach</h3>
				<p>
					utiliza esencias florales para ayudar a equilibrar las emociones y promover el bienestar
					emocional y mental.
				</p>
			</li>
			<li>
				<h3>Naturopatia</h3>
				<p>
					Nuestros naturopatas trabajan con la naturaleza para ayudar a restablecer el equilibrio
					interno del cuerpo, utilizando una combinación de terapias con, los suplementos herbales,
					cambios alimenticios.
				</p>
			</li>
			<li>
				<h3>Reflexología Podal</h3>
				<p>
					Esta terapia se basa en la idea de que ciertos puntos en los pies están conectados con
					diferentes partes del cuerpo. Al estimular estos puntos, la reflexología podal puede
					ayudar a aliviar el estrés, mejorar la circulación y promover la relajación profunda.
				</p>
			</li>
			<li>
				<h3>Biomagnetismo</h3>
				<p>...</p>
			</li>
		</ul>
	</Gutter>
</section>

<style>
	section {
		padding-block: calc(var(--block-padding) / 2);
	}
</style>
