:root {
    /* Fluid screen widths (px), must match media queries below */
    --f-min-width: 320; --f-max-width: 1200;
    /* Fluid sizes, both for type and space (px) */
    --f-min-size: 16; --f-max-size: 20;
    /* Fluid type multiplier (ratio) */
    --f-min-ratio: 1.2; --f-max-ratio: 1.25;
    /* Fluid breakpoint */
    --f-screen: 100vw;
    --f-bp: calc((var(--f-screen) - var(--f-min-width) / 16 * 1rem) / (var(--f-max-width) - var(--f-min-width)));
}
@media screen and (max-width: 320px) { :root { --f-screen: calc(var(--f-min-width) * 1px); } }
@media screen and (min-width: 1200px) { :root { --f-screen: calc(var(--f-max-width) * 1px); } }

:root {
    /* Type min and max scale */
    --t-1-min: calc(var(--t0-min) / var(--f-min-ratio));
    --t-1-max: calc(var(--t0-max) / var(--f-max-ratio));
    --t0-min: var(--f-min-size);
    --t0-max: var(--f-max-size);
    --t1-min: calc(var(--t0-min) * var(--f-min-ratio));
    --t1-max: calc(var(--t0-max) * var(--f-max-ratio));
    --t2-min: calc(var(--t1-min) * var(--f-min-ratio));
    --t2-max: calc(var(--t1-max) * var(--f-max-ratio));
    --t3-min: calc(var(--t2-min) * var(--f-min-ratio));
    --t3-max: calc(var(--t2-max) * var(--f-max-ratio));
    --t4-min: calc(var(--t3-min) * var(--f-min-ratio));
    --t4-max: calc(var(--t3-max) * var(--f-max-ratio));

    /* Computed (t)ype values */
    --t-1: calc(((var(--t-1-min) / 16) * 1rem) + (var(--t-1-max) - var(--t-1-min)) * var(--f-bp));
    --t0: calc(((var(--t0-min) / 16) * 1rem) + (var(--t0-max) - var(--t0-min)) * var(--f-bp));
    --t1: calc(((var(--t1-min) / 16) * 1rem) + (var(--t1-max) - var(--t1-min)) * var(--f-bp));
    --t2: calc(((var(--t2-min) / 16) * 1rem) + (var(--t2-max) - var(--t2-min)) * var(--f-bp));
    --t3: calc(((var(--t3-min) / 16) * 1rem) + (var(--t3-max) - var(--t3-min)) * var(--f-bp));
    --t4: calc(((var(--t4-min) / 16) * 1rem) + (var(--t4-max) - var(--t4-min)) * var(--f-bp));

    /* Space min and max scale */
    --3xs-min: (var(--f-min-size) * 0.25);
    --3xs-max: (var(--f-max-size) * 0.25);
    --2xs-min: (var(--f-min-size) * 0.5);
    --2xs-max: (var(--f-max-size) * 0.5);
    --xs-min: (var(--f-min-size) * 0.75); /* xs */
    --xs-max: (var(--f-max-size) * 0.75);
    --s-min: var(--f-min-size); /* s */
    --s-max: var(--f-max-size);
    --m-min: (var(--f-min-size) * 1.5);
    --m-max: (var(--f-max-size) * 1.5);
    --l-min: (var(--f-min-size) * 2);
    --l-max: (var(--f-max-size) * 2);
    --xl-min: (var(--f-min-size) * 3);
    --xl-max: (var(--f-max-size) * 3);
    --2xl-min: (var(--f-min-size) * 4);
    --2xl-max: (var(--f-max-size) * 4);
    --3xl-min: (var(--f-min-size) * 6);
    --3xl-max: (var(--f-max-size) * 6);

    /* Computed space values, change the subtraction for different scaling */
    --3xs-2xs: calc(((var(--3xs-min) / 16) * 1rem) + (var(--2xs-max) - var(--3xs-min)) * var(--f-bp));
    --2xs-xs: calc(((var(--2xs-min) / 16) * 1rem) + (var(--xs-max) - var(--2xs-min)) * var(--f-bp));
    --xs-s: calc(((var(--xs-min) / 16) * 1rem) + (var(--s-max) - var(--xs-min)) * var(--f-bp));
    --s-m: calc(((var(--s-min) / 16) * 1rem) + (var(--m-max) - var(--s-min)) * var(--f-bp));
    --m-l: calc(((var(--m-min) / 16) * 1rem) + (var(--m-max) - var(--m-min)) * var(--f-bp));
    --l-xl: calc(((var(--l-min) / 16) * 1rem) + (var(--xl-max) - var(--l-min)) * var(--f-bp));
    --xl-2xl: calc(((var(--xl-min) / 16) * 1rem) + (var(--2xl-max) - var(--xl-min)) * var(--f-bp));
    --2xl-3xl: calc(((var(--2xl-min) / 16) * 1rem) + (var(--3xl-max) - var(--2xl-min)) * var(--f-bp));
}

/* Other custom properties */
:root {
    --measure: 75ch;

    /* Line heights */
    --leading-flat: 1;
    --leading-tight: 1.15;
    --leading: 1.5;
    --leading-loose: 1.7;

    /* Fonts */
    --font-base: 'Mona Sans', Helvetica, Arial;
    --font-special: 'iA Writer Quattro', Andale Mono, Courier, Lucida, Monaco, Arial;
    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;

    /* Transitions */
    --transition-base: 250ms ease;
    --transition-movement: 200ms linear;
    --transition-fade: 300ms ease;
    --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
    --transition-bounce-fast: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);

    /* Colors */
    --color-dark: #171615;
    /* --color-dark-glare: #171717; */
    --color-mid: #4c4c40;
    /* --color-mid-glare: #ccc; */
    --color-light: #fbfcf5;
    /* --color-light-shade: #f7f7f7; */
    --color-primary: #c0b64a;
    --color-primary-shade: #a38833;
    --color-secondary: #94a542;
    /* --color-tertiary: #350df2; */
    /* --color-quaternary: #ffd501; */
    /* --color-quinary: #00d5ff; */
    /* --color-quinary-shade: #0ac; */
}

/* Reset styles, inspired by https://piccalil.li/blog/a-more-modern-css-reset/ */
*, *::before, *::after { box-sizing: border-box; min-inline-size: 0; margin: 0; padding: 0; }

/* Remove default margin in favour of better control in authored CSS */
/* body, h1, h2, h3, h4, p, ul, ol, figure, figcaption, blockquote, dl, dd { margin: 0; } */

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'], ol[role='list'] { list-style: none; /* padding-inline-start: 0; */ }

/* Prevent font size inflation on Safari */
html { -moz-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }
/* Smooth auto-scroll */
:has(:target) { scroll-behavior: smooth; scroll-padding-top: 3rem; }

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    min-height: 100vh;
    min-height: 100svh;
    line-height: var(--leading);
    background-color: var(--color-light);
    color: var(--color-dark);
    font-size: var(--t0);
    /* overflow-wrap: break-word; */
    /* -webkit-hyphens: auto; */
    /* -moz-hyphens: auto; */
    /* -ms-hyphens: auto; */
    /* hyphens: auto; */
}

/* A elements that don't have a class get default styles */
a:not([class]) { text-decoration-skip-ink: auto; color: currentColor; }

/* Make images easier to work with */
img, picture {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    shape-margin: 0.75rem;
}

/* Blur images when they have no alt attribute */
img:not([alt]) { filter: blur(10px); }

/* Inherit fonts for inputs and buttons */
input, button, textarea, select { font: inherit; }

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) { min-height: 10em; min-inline-size: 100%; max-inline-size: 100%; }

/* Anything that has been anchored to should have extra scroll margin */
:target { scroll-margin-block: 5ex; }

/* Collapse table borders by default */
table { border-collapse: collapse; }

/* Inherit fonts for inputs and buttons */
input, button, textarea, select { font: inherit; }

/* Remove button border and change cursor */
button { cursor: pointer; border: none; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    :has(:target) { scroll-behavior: auto; }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Set core text defaults */
h1, h2, h3, h4, button, input, label { line-height: var(--leading-tight); }
h1, h2, h3, h4 { text-wrap: balance; }
h1 { font-size: var(--t4); }
h2 { font-size: var(--t3); }
h3 { font-size: var(--t2); }
h4 { font-size: var(--t1); }
p { max-inline-size: var(--measure); text-wrap: pretty; }
a { text-decoration: none; }

/* Utility classes */

.flow-tight > * + * { margin-block-start: var(--3xs-2xs); }
.flow > * + * { margin-block-start: var(--xs-s); }
.flow-loose > * + * { margin-block-start: var(--m-l); }

.top-padding-large { padding-block-start: var(--2xl-3xl); }
.bottom-padding-large { padding-block-end: var(--2xl-3xl); }
.top-padding-medium { padding-block-start: var(--l-xl); }
.bottom-padding-medium { padding-block-end: var(--l-xl); }

.gutter {
    /* Needed in order to be a flexbox child */
    /* inline-size: 100%; */
    margin-inline: auto;
    max-inline-size: calc(var(--f-max-width) * 1px);
    padding-inline: var(--s-m);
}

.button {
    position: relative;
    isolation: isolate;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    color: var(--color-light);
    background-image: linear-gradient(to bottom right, var(--color-secondary), var(--color-primary));
}
.button:is(:hover, :active) {
    color: var(--color-light);
}
.button::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom right, var(--color-mid), var(--color-dark));
    transition: opacity var(--transition-base);
    opacity: 0;
}
.button:hover::before {
  opacity: 1;
}
